<div class="products">
  <div class="products__search">
    <mng-search class="products__search__search"></mng-search>
    <mng-sort class="products__search__sort" (sortSelected)="onSortSelected($event)"></mng-sort>
  </div>
  <ul class="products__list" *ngIf="(loading$ | async) === false; else spinner">
    <li
      class="products__list__item"
      *ngFor="let product of products$ | async; trackBy: trackByProducts"
    >
      <mng-product [product]="product"></mng-product>
    </li>
    <div class="products__list__pagination">
      <button
        class="products__list__pagination__prev"
        mat-raised-button
        color="accent"
        [disabled]="isPrevDisabled$ | async"
        (click)="goToPrevPage()"
      >
        Previous
      </button>
      <button
        class="products__list__pagination__next"
        mat-raised-button
        color="accent"
        [disabled]="isNextDisabled$ | async"
        (click)="goToNextPage()"
      >
        Next
      </button>
    </div>
  </ul>
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
