<div class="product">
  <mat-card *ngIf="product">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title
          >{{ product.title }}
          <br />
          <span
            class="remove"
            *ngIf="isInDialog"
            (click)="updateFavourites(product.email, product.isFavourite)"
          >
            Remove
          </span></mat-card-title
        >
        <mat-card-subtitle *ngIf="!isInDialog">{{ product.email }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!isInDialog">{{ product.price }}&euro;</mat-card-subtitle>
        <img mat-card-sm-image [src]="product.image" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-icon
      fontIcon="star"
      *ngIf="!isInDialog"
      [class.selected]="product.isFavourite"
      (click)="updateFavourites(product.email, product.isFavourite)"
    ></mat-icon>
    <mat-card-content *ngIf="!isInDialog">
      {{ product.description }}
    </mat-card-content>
    <br *ngIf="isInDialog" />
  </mat-card>
</div>
