<div class="product">
  <mat-card *ngIf="product">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.email }}</mat-card-subtitle>
        <mat-card-subtitle>{{ product.price }}&euro;</mat-card-subtitle>
        <img mat-card-sm-image [src]="product.image" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-icon
      fontIcon="star"
      [class.selected]="product.isFavourite"
      (click)="updateFavourites(product.email, product.isFavourite)"
    ></mat-icon>
    <mat-card-content>
      {{ product.description }}
    </mat-card-content>
  </mat-card>
</div>
