<div class="favourites-dialog">
  <ul class="favourites-dialog__favourites">
    <li
      class="favourites-dialog__favourites__favourite"
      *ngFor="let favouriteEntity of favouriteEntities$ | async"
    >
      <mng-product
        isInDialog
        [product]="favouriteEntity"
        (closeDialog)="closeDialog()"
      ></mng-product>
    </li>
  </ul>
  <div class="favourites-dialog__actions" mat-dialog-actions>
    <button class="favourites-dialog__actions__close-btn" mat-button mat-dialog-close>Close</button>
  </div>
</div>
