.root {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 80px auto;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
  header {
    grid-area: header;
    width: 100%;
    mat-toolbar {
      opacity: 75%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      button {
        background-color: #fff;
      }
    }
  }
  main {
    grid-area: main;
  }
}
