@use 'reset';

html,
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-image: url('assets/bg-pattern.webp');
  background-repeat: repeat;
  .mat-mdc-progress-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
